<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% endblock %}
            | Bryam Guillen Ayala
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilosnuevos.css' %}" />
    </head>
    <body>
        <header>
            <div id="logotipo">
                <img src="{% static 'images/loguito.png' %}" width="400" height="80" />
            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'inicio' %}"> Inicio</a>
                </li>

                <li>
                    <a href="{% url 'rango' %}"> Primos[a,b]</a>
                </li>


                
            </ul>
        </nav>
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
        <div id="content">
            <div class="box">
                <h2 class="title">Unidad de Capacidad 3</h2>
                {% block content %}
                    <strong> Contenido en layout (Padre) </strong>
                {% endblock %}
            </div>
        </div>
        <footer>
            UNTELS - Lenguaje de Programación III &copy; Luis Montes - Kori Timana - Guillen Ayala {% now "d/m/Y h:m:s" %}
        </footer>
    </body>
</html>
